{{template "base" .}}
 
{{define "title"}}Заметка #{{.Quest.Quest_id}}{{end}}
 
{{define "main"}}
    {{with .Quest}}
    <div class='snippet'>
        <div class='metadata'>
            <strong>{{.Title}}</strong>
            <span>#{{.Quest_id}}</span>
        </div>
        <pre><code>{{.Description}}</code></pre>
        <div class='metadata'>
        </div>
    </div>
    {{end}}
{{end}}